:root {
    --inter-color: #658E9C; /* Color for interactables like button and sliders... */
    --inter-color-darkened: #50727d; /* Darkened version of the interactable color */
    --main-color: #eeeeee; /* Main color for the page */
    --secondary-color: #daddaa; /* Secondary color for the page */
    --secondary-color-ligtened: #eff0d9;
    --secondary-color-darkened: #b4b59f;
    --accent-color: #282331; /* Accent color for the page */
}

p, b {
    font-size: 1.2em;
    font-family: sans-serif;
}

button {
    background-color: var(--inter-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    font-family: sans-serif;
    margin: 4px 2px; /*   4px 10px; */
    cursor: pointer;
    border-radius: 12px;
}

.wrapper, #imageContainer, #finishContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 15px);
    height: calc(100vh - 17.5px);
    gap: 7.5px;
    box-sizing: border-box;
}

.firstTwoThirdsContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: lightblue;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.laterOneThirdContainer {
    flex: 1;
    display: flex;
    flex-direction: column; /* Ensures buttons and text stack properly */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: lightgreen;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.counterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10%;
    gap: 5px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10%;
    gap: 20%;
    width: 100%;
}