{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Selection App</title>
    <link rel="stylesheet" type="text/css" href="{% static "style/app_style.css" %}">
</head>
<body>

    <div class="wrapper" id="startContainer">

        <div id="startTextContainer" class="firstTwoThirdsContainer" style="display: block; text-align: center;">
            <p style="max-width: 80%;">Hvala za soglasje sodelovanja v eksperimentu. Trajal bo okrog 10 min. V prvem delu vam bomo kazali slike eno za drugo. Vaša naloga bo, da pri vsaki sliki poveste ali je enaka kot ena slika pred njo.  Navodilo za drugi del sledi po prvem delu. Reševanje začnete s klikom na "Start".</p>
            <br>
            <p style="max-width: 80%;">Začnete s klikom na gumb Start.</p>
        </div>

        <div id="halfwayContainer" class="firstTwoThirdsContainer" style="display: none;">
            <p>Hvala, ta del eksperimenta ste zaključili. Sledi drugi del, kjer se pravilo spremeni. Vprašanje o enakosti slike se bo nanašalo na dve slike pred prikazano sliko. S klikom na "Start" začnete drugi del.</p>
        </div>
        
        <div id="startBtnContainer" class="laterOneThirdContainer">
            <button id="startBtn">Start</button>
        </div>

    </div>

    <div id="imageContainer" style="display: none;">
        <div class="firstTwoThirdsContainer">
            <img id="displayImage" src="" alt="Loading..." style="max-width: 100%; max-height: 100%;">
        </div>
        
        <div id="yesnoContainer" class="laterOneThirdContainer">
            <p id="comparisonText"></p>
            
            <div class="counterContainer">
                <b id="imageIdxInSet"></b><b> / 25</b>
            </div>

            <div class="buttonContainer">
                <button id="yesBtn">Da</button>
                <button id="noBtn">Ne</button>
            </div>
        </div>

        <b id="imageIdx" style="display: none;"></b>
        <p id="imageName" style="display: none;"></p>
    </div>

    <div id="finishContainer" style="display: none;">
        <div class="firstTwoThirdsContainer">
            <p>Hvala, eksperiment ste zaključili. Prosimo vas, da odgovorite še na vprašanja, ki sledijo. Začnete tako, da kliknete gumb "Nadaljujte".</p>
        </div>

        <div class="laterOneThirdContainer">
            <button id="anketa1ka" onclick="window.location.href='https://www.1ka.si/d/sl';">Nadaljujte</button>
        </div>
    </div>

    <script src="{% static 'scripts/app_script.js' %}"></script>
    
</body>
</html>
